header {
    background-color: #005cbf;
}

header > .container > .row > .col{
    text-align:center;
    margin-top: 23px;
}

#logo{
    margin-top: -13px;
    margin-bottom: 10px;
    height: 50px;
    float: left;
}

.col > a{
    color: white;
}

.col > a:hover {
    color: lightgrey;
    text-decoration: none;
}

a > h5 {
    margin-right: 3em;
    display: inline;
}

